body {
    font-size: 0px;
    font-family: Arial;
}

button:hover {
    background-color: rgb(156, 198, 192);
}

/* First row */

.key-selector{
    float: left;
    width: 154px;
    height: 30px;
    font-size: 15px;
    margin: 1px;
}

.scale-selector{
    float: left;
    width: 122px;
    height: 30px;
    font-size: 15px;
    margin: 1px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 1px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(221, 235, 233);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(39, 216, 204);
}

input:checked + .slider:before {
    transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 5px;
}

.slider.round:before {
    border-radius: 26px;
}

/* Second row */

#second-row {
    overflow: auto;
}

/* Fingerboard */

.fingerboard-rot{
    float: left;
    width: 744px;
    height: 199px;
    white-space: nowrap;
    overflow-x: scroll;
    transform: rotateX(180deg);
}

.fingerboard{
    transform: rotateX(180deg);
}

::-webkit-scrollbar{
    width: 10px;
    height: 7px;
}

::-webkit-scrollbar-track{
    background: rgb(199, 240, 232);
    border-right: solid 2px #e90101;
    border-left: solid 2px #e90101;
}

::-webkit-scrollbar-thumb{
    background: rgb(48, 163, 172);
    border-radius: 10px;
    box-shadow: inset 0 0 0 1.5px rgb(195, 250, 241);
}

.key{
    display: inline-block;
    width: 60px;
    height: 30px;
    font-size: 15px;
    background-color: rgb(181, 220, 216);
    border: none;
    padding: none;
    margin: 1px;
    text-align: center;
    line-height: 30px;
}

.fingerboard div.open {
    width: 30px;
    background-color: rgb(109, 194, 188);
}

.fingerboard div.emphasize-scale {
    background-color: rgb(223, 168, 117);
}

.fingerboard div.emphasize-root-note {
    background-color: rgb(209, 114, 25);
}

.fingerboard div.active {
    background-color: rgb(39, 216, 204);
}

/* Stroke zone */
.stroke-zone {
    float: left;
    position: relative;
    top: 4.0px;
    font-size: 0px;
}

.stroke-zone div {
    float: none;
    width: 120px;
    height: 30px;
    font-size: 15px;
    background-color: rgb(207, 243, 237);
    border: none;
    margin-left: 1px;
    margin-bottom: 1.9px;
}

/* Third row */
/* Flet number */

.flet-number {
    display: flex;
    clear: both;
}

.flet-number div {
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    padding: none;
    background-color: rgb(221, 235, 233);
    margin: 1px;
}

#stroke-zone-label {
    width: 120px;
}

/* Fourth row */
